.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}

.LogoDiv {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-size: contain;
}

/* .CredDiv {
    width: 800px;
} */

.fieldDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}

.LoginInput {
    width: 100%;
    font-size: 30px;
    padding: 10px;
}

.WarningText {
    color: #E5383B;
    padding: 20px;
    text-align: center;
}

.loginBtns {
    margin-top: 30px;
    padding: 30px;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.loginBtns button {
    font-size: 30px;
    color: white;
    padding: 15px;
    border-radius: 5px;
    width: 200px;
}